# 어느 주요소가 쌀까?

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import pandas as pd

In [11]:
url = 'https://www.opinet.co.kr/user/main/mainView.do'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(2)

In [12]:
# 팝업창 싼 주요소 찾기 클릭
driver.find_element(By.CSS_SELECTOR, '.ic_m1').click()

In [14]:
metro = driver.find_element(By.XPATH, '//*[@id="SIDO_NM0"]')
metro.send_keys('서울')
time.sleep(1)

In [15]:
sigungu = driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
gu_list = sigungu.find_elements(By.CSS_SELECTOR, 'option')

In [22]:
for gu in gu_list:
    print(gu.text)

시/군/구
강남구
강동구
강북구
강서구
관악구
광진구
구로구
금천구
노원구
도봉구
동대문구
동작구
마포구
서대문구
서초구
성동구
성북구
송파구
양천구
영등포구
용산구
은평구
종로구
중구
중랑구

In [26]:
gu_name = [gu.text for gu in gu_list]
gu_name

['시/군/구',
 '강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [27]:
del gu_name[0]

In [28]:
gu_name

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [30]:
# 엑셀 저장 버튼
driver.find_element(By.XPATH, '//*[@id="glopopd_excel"]/span').click()

In [31]:
# 25개 자치구에 대해 주유소 정보 엑셀 저장
for gu in gu_name:
    sigungu = driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
    time.sleep(2)
    sigungu.send_keys(gu)
    time.sleep(2)
    driver.find_element(By.XPATH, '//*[@id="glopopd_excel"]/span').click()

In [32]:
driver.close()

# 구별 휘발유 가격에 대한 데이터 정리

In [33]:
import pandas as pd
from glob import glob
import warnings
warnings.filterwarnings('ignore')

In [34]:
glob(r'C:\workspace\workspace_Crawling\data1\주유소\지역*.xls') # r = raw 이스케이프 문자

['C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (1).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (10).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (11).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (12).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (13).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (14).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (15).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (16).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (17).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (18).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (19).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (2).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (20).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (21).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (22).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (23).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (24).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (25).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (3).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (4).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (5).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (6).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (7).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (8).xls',
 'C:\\workspace\\workspace_Crawling\\data1\\주유소\\지역_위치별(주유소) (9).xls']

In [35]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB 5.4 MB/s eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
file = glob(r'C:\workspace\workspace_Crawling\data1\주유소\지역*.xls')[0]
df = pd.read_excel(file, header=2)
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1623,1565,-
1,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1669,1575,-
2,서울특별시,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,Y,1929,1684,1609,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1687,1639,-
4,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1886,1704,1669,-

In [40]:
df_list = []
for file in glob(r'C:\workspace\workspace_Crawling\data1\주유소\지역*.xls'):
    gs = pd.read_excel(file, header=2)
    df_list.append(gs)
df = pd.concat(df_list)
df.shape

(441, 10)

In [41]:
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1623,1565,-
1,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1669,1575,-
2,서울특별시,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,Y,1929,1684,1609,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1687,1639,-
4,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1886,1704,1669,-

In [42]:
df = df[['상호', '주소', '휘발유', '셀프여부', '상표']]
df.head()

            상호                       주소   휘발유 셀프여부      상표
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)  1623    Y   SK에너지
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)  1669    Y   SK에너지
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  1684    Y  현대오일뱅크
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)  1687    Y   GS칼텍스
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)  1704    Y   SK에너지

In [45]:
df.rename(columns={'휘발유':'가격', '셀프여부':'셀프'}, inplace=True)
df.head()

            상호                       주소    가격 셀프      상표
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)  1623  Y   SK에너지
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)  1669  Y   SK에너지
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  1684  Y  현대오일뱅크
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)  1687  Y   GS칼텍스
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)  1704  Y   SK에너지

In [46]:
df['구'] = df.주소.str.split().str[1]

In [47]:
df.head()

            상호                       주소    가격 셀프      상표    구
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)  1623  Y   SK에너지  강남구
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)  1669  Y   SK에너지  강남구
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  1684  Y  현대오일뱅크  강남구
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)  1687  Y   GS칼텍스  강남구
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)  1704  Y   SK에너지  강남구

In [49]:
print(df['구'].unique())
len(df['구'].unique())

['강남구' '도봉구' '동대문구' '동작구' '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '강동구'
 '영등포구' '용산구' '은평구' '종로구' '중구' '중랑구' '강북구' '강서구' '관악구' '광진구' '구로구' '금천구'
 '노원구']

25

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 13
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int64
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int64(1), object(5)
memory usage: 24.1+ KB

In [53]:
# 가격
df = df[df.가격 != '-']

In [54]:
df.가격 = df.가격.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 13
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int32
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int32(1), object(5)
memory usage: 22.4+ KB

In [58]:
df.to_csv('./csv/gasData/서울_주유소(230418).csv', index=False)