In [1]:
import pandas as pd
        # panel datas의 약자

In [3]:
dict_data = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dict_data)

In [4]:
print(type(dict_data))
print(type(sr))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [5]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [6]:
list_data = ['2018-01-01', 3.14, 'abc', 100, True]
sr_list = pd.Series(list_data)

In [7]:
print(sr_list)

0    2018-01-01
1          3.14
2           abc
3           100
4          True
dtype: object

In [9]:
idx = sr_list.index
val = sr_list.values

In [11]:
print(idx)
print(val)

RangeIndex(start=0, stop=5, step=1)
['2018-01-01' 3.14 'abc' 100 True]

In [12]:
print(type(val))

<class 'numpy.ndarray'>

In [13]:
tup_data = ('영희', '2010-05-01', '여', True)
sr_tup = pd.Series(tup_data, index = ['이름', '생년월일', '성별', '학생여부'])

In [14]:
print(sr_tup)

이름              영희
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [15]:
# 원소를 1개 선택하는 2가지 방법
print(sr_tup[0]) # sr의 1번째 원소를 선택(정수형 위치 인덱스를 활용)
print(sr_tup['이름'])  # 이름 '라벨'을 가진 원소를 선택(인덱스 이름을 활용)

영희
영희

In [ ]:
# 여러개 원소를 선택하는 2가지 방법
print(sr_tup[[1,2]])
print(sr_tup[['생년월일', '성별']])

# 시리즈 생성 실습

In [23]:
# 9904312, 3448737, 2890451, 2466052
# 서울     부산     인천     대구

dic_city = {'서울':9904312, '부산':3448737, '인천':2890451, '대구':2466052}
sr_city = pd.Series(dic_city)

print(sr_city)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [25]:
sr = pd.Series([9904312, 3448737, 2890451, 2466052], index=['서울', '부산', '인천', '대구'])

In [24]:
# 인덱싱 부산 2가지 방식
# 부산과 대구 인덱싱 2가지 방식

print(sr_city[1])
print(sr_city['부산'])

print(sr_city[[1,3]])
print(sr_city[['부산', '대구']])

3448737
3448737
부산    3448737
대구    2466052
dtype: int64
부산    3448737
대구    2466052
dtype: int64

In [28]:
for key, value in sr_city.items():
    print(f'key는 {key}이고 value는 {value}다')

key는 서울이고 value는 9904312다
key는 부산이고 value는 3448737다
key는 인천이고 value는 2890451다
key는 대구이고 value는 2466052다

In [29]:
# 사라지는 넘파이 1차원 배열로 변환된다.
sr_city/100000

서울    99.04312
부산    34.48737
인천    28.90451
대구    24.66052
dtype: float64

In [32]:
# 딕셔너리는 아래와 같은 연산이 안됨
dic_sr = {'서울':99999, '부산':3333}
# dic_sr/100 아래와 같이 시리즈로 변환해야 가능
dic_sr_s = pd.Series(dic_sr)
dic_sr_s/100

서울    999.99
부산     33.33
dtype: float64

In [41]:
sr2 = pd.Series({'서울':9631482, '부산':3393191, '인천':2632035, '대전':1490158})
sr1 = pd.Series([10514482, 33646191, 2735035, 2466052], index=['서울', '부산', '인천', '대구'])
#인덱스 값이 다른 데잍는 연산이 되지만 잘 안됨
# 연산이 안되는 것의 결과는 NaN(Not a Number, 결측치)
# np.nan 데이터 타입은 실수 float
ds = sr1-sr2
print(ds)

대구           NaN
대전           NaN
부산    30253000.0
서울      883000.0
인천      103000.0
dtype: float64

In [36]:
sr.index, sr.values

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 array([9904312, 3448737, 2890451, 2466052], dtype=int64))

In [37]:
# 엘러먼트의 개수를 세는 merhod
sr.count()

4

In [38]:
sr2.count()

4

In [40]:
ds.count()  # NaN은 개수로 치지 않음

3

In [42]:
# 카테고리의 값 세는 method
sr.value_counts()

9904312    1
3448737    1
2890451    1
2466052    1
dtype: int64

In [43]:
# 값을 세는 method 예시
!pip install seaborn # 시각화 패키지

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ---------------------------------------- 0.0/293.3 kB ? eta -:--:--
     -------------------------------------- 293.3/293.3 kB 9.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in c:\python38\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\python38\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\python38\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: cycler>=0.10 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: packaging>=20.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: pytz>=2020.1 in c:\python38\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: zipp>=3.1.0 in c:\python38\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [45]:
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [50]:
# 카테고리형 자료의 종류의 갯수를 알려주는 method
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [48]:
    iris['species']. value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [49]:
iris['sepal_length']. value_counts()

5.0    10
5.1     9
6.3     9
5.7     8
6.7     8
5.8     7
5.5     7
6.4     7
4.9     6
5.4     6
6.1     6
6.0     6
5.6     6
4.8     5
6.5     5
6.2     4
7.7     4
6.9     4
4.6     4
5.2     4
5.9     3
4.4     3
7.2     3
6.8     3
6.6     2
4.7     2
7.6     1
7.4     1
7.3     1
7.0     1
7.1     1
5.3     1
4.3     1
4.5     1
7.9     1
Name: sepal_length, dtype: int64

In [52]:
# 인구데이터의 합과 평균
sr.sum(), sr.mean()

(18709552, 4677388.0)

In [53]:
# 정렬 method
sr.sort_values()

대구    2466052
인천    2890451
부산    3448737
서울    9904312
dtype: int64

In [54]:
sr.sort_values(ascending=False) # True가 Default 값, 오름차순 / False는 내림차순

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64